<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf=8">
    <title>{{ name }}'s watchlist</title>
</head>
<body>
    <h2>{{ name }}'s Watchlist</h2>
    {# 使用 length 過濾器獲取 movies 變量的長度 #}
    <p>{{ movies|length }} Titles</p> {# 類似 Python 的 len() #}
    <ul>
        {% for movie in movies %} {# 迭代 movies 變量 #}
        <li>{{ movie.title }} - {{ movie.year }}</li> {# 等同於movie['title'] #}
        {% endfor %} {# 使用 endfor 标签结束 for 语句 #}
    </ul>
    <footer>
        <small>&copy; 2023 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
    </footer>
</body>
</html>